<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
	
<beans>
	<import resource="classpath*:springBeans*.xml"/>
	
	<!-- Start Test Action Class -->
	<bean id="testAction" class="com.WebQ.action.TestAction" singleton="false">
		<constructor-arg>
			<ref bean="test" />
		</constructor-arg>
	</bean>	
	
	
	<!-- Registration Action Class -->
	<bean id="registrationAction" class="com.WebQ.action.RegistrationAction" singleton="false">
		<constructor-arg>
			<ref bean="usersCollection" />
		</constructor-arg>
	</bean>


	<!-- login action -->
	<bean id="loginAction" class="com.WebQ.action.LoginAction" singleton="false">
		<constructor-arg>
			<ref bean="usersCollection" />
		</constructor-arg>
	</bean>

	<!-- logout Action -->
	<bean id="logoutAction" class="com.WebQ.action.LogoutAction" singleton="false" />


	<!-- index action -->
	<bean id="indexAction" class="WQ.IndexAction" singleton="false"/>
	
	<!-- Example of SAF2 action instantiated by Spring -->
    <bean id="helloWorldAction" class="WQ.HelloWorldAction" singleton="false" />
    
    <!-- User collection class -->
	<bean name="test" id="test" class="com.WebQ.beans.Test" singleton="true" init-method="init"/>
	 
	<!-- Questions collection class -->
	<bean name="questionsCollection" id="questionsCollection" class="com.WebQ.beans.QuestionsCollection" init-method="init"/>
    
    <!-- User collection class -->
	<bean name="usersCollection" id="usersCollection" class="com.WebQ.beans.UsersCollection" singleton="true" init-method="init"/>
	
    
</beans>



